:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 0 2rem;
}

aside {
  position: fixed;
  top: 60px;
  left: 0;
  height: 100%;
  width: 20%;
  color: black;
  background-color: antiquewhite;
  font-size: 18px;
  font-weight: 700;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 100px;
}

aside ul li {
  cursor: pointer;
}

main {
  position: absolute;
  top: 60px;
  left: 20%;
  max-height: calc(100% - 60px);
  max-width: calc(100% - 20%);
  padding: 2rem;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}